---
import fs from "node:fs/promises";
import ExercisePageLayout from "../../layouts/ExercisePageLayout.astro";
import { GITHUB_EDIT_URL } from '../../consts';

export async function getStaticPaths() {
  const allProblems = (await Astro.glob("../exercises/*/README.*")).filter((exercise) => {
    return !exercise.url.split("/")[3].startsWith("_");
  });

  await allProblems.reduce(async (acc, exercise) => {
    const slug = exercise.url.split("/")[3];

    const codes = await fs.readdir(`./src/pages/exercises/${slug}/_codes`);

    exercise.frontmatter.codes = codes;

    return {
      ...await acc,
      [slug]: codes,
    };
  }, {});

  return allProblems.map((exercise) => {
    const slug = exercise.url.split("/")[3];

    return {
      params: {
        exercise: slug,
      },
      props: {
        exercise,
        data: exercise.frontmatter,
        file: exercise.file,
      },
    };
  });
}

const { exercise: { Content }, data: { codes, title, preview }, file } = Astro.props;

const currentPage = Astro.url.pathname;
const currentDir = `src/pages${currentPage.replace(/\/$/, '').replace('/exercises', '')}`;
const fileExtension = file.split(".").pop();
const currentFile = `${currentDir}/README.${fileExtension}`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
---

<ExercisePageLayout pageTitle={title}>
  <article class="mx-auto px-4 md:px-0 prose md:prose-lg lg:prose-xl">
    <h1 class="text-center">{title}</h1>
    <Content/>
    <h2>Códigos</h2>
    <ul>
      {codes.map((code) => {
        const codeDir = `${GITHUB_EDIT_URL}/${currentDir}/_codes/${code}`;

        return (
          <li>
            {code}
            (código:
              <a href={`${codeDir}/code/`}>github</a>,
              <a href={`https://download-directory.github.io/?url=${codeDir}/code/`}>zip</a>
            ; resposta:
              <a href={`${codeDir}/response/`}>github</a>,
              <a href={`https://download-directory.github.io/?url=${codeDir}/response/`}>zip</a>
              { preview && (
                <>
                  , <a href={`./_codes/${code}/response/`}>preview</a>
                </>
              )

              }
            )
          </li>
        );
      })}
    </ul>
    <p>
      <a href={githubEditUrl} target="_blank">
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="pen"
          class="inline"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          height="1em"
          width="1em"
        >
          <path
            fill="currentColor"
            d="M290.74 93.24l128.02 128.02-277.99 277.99-114.14 12.6C11.35 513.54-1.56 500.62.14 485.34l12.7-114.22 277.9-277.88zm207.2-19.06l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.76 18.75-49.16 0-67.91z"
          />
        </svg>
        <span>Editar esta página</span>
      </a>
    </p>
  </article>
</ExercisePageLayout>
