---
import fs from "node:fs/promises";

const allProblems = (await Astro.glob("./problems/*/README.*")).filter((exercise) => {
  return !exercise.url.split("/")[3].startsWith("_");
});

const allSubjects = await allProblems.reduce(async (acc, exercise) => {
  const collection = await acc;

  const { subjects, areas } = exercise.frontmatter;


  const slug = exercise.url.split("/")[3];

  const codes = await fs.readdir(`./src/pages/problems/${slug}/_codes`);

  subjects.forEach((subject) => {
    if (!collection[subject]) {
      collection[subject] = [...areas];
    } else {
      collection[subject] = [...new Set([...collection[subject], ...areas])];
    }
  });

  if (!collection['código']) {
    collection['código'] = [...codes];
  } else {
    collection['código'] = [...new Set([...collection['código'], ...codes])];
  }

  return collection;
}, Promise.resolve({}));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Exercícios</title>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto lg:px-16 py-8">
      <a href="./" class="no-underline">
        <h1 class="text-center py-10 text-4xl font-bold">Exercícios</h1>
      </a>
      {
        Object.keys(allSubjects).map((subject) => (
          <div>
            <a href={`./problems/${subject !== 'código' ? `${subject}/` : ''}1`}>
              <h2 class="text-2xl capitalize font-bold my-4 cursor-pointer">{subject}</h2>
            </a>
            <div class="grid gap-5 grid-cols-3">
              {
                allSubjects[subject].map((area) => (
                  <a href={`./problems/${area}/1`}>
                    <div class="max-w-sm rounded-md overflow-hidden shadow-lg hover:scale-105 transition duration-500 cursor-pointer bg-white py-4 px-4">
                      <h3 class={`text-xl ${subject !== 'código' && 'capitalize'}`}>{area}</h3>
                    </div>
                  </a>
                ))
              }
            </div>
          </div>
        ))
      }
      <div>
        <a href={`./problems/desafio/1`}>
          <h2 class="text-2xl capitalize font-bold my-4 cursor-pointer">Desafios</h2>
        </a>
      </div>
    </div>
  </body>
</html>
