---
import fs from "node:fs/promises";

const { exercise: {frontmatter: {subjects, areas, challenge, title}, url}, id } = Astro.props;

const nameDir = url.split("/")[3];

const codes = await fs.readdir(`./src/pages/exercises/${nameDir}/_codes`);

const tags = [
  ...subjects,
  ...areas,
  ...codes,
];

if (challenge) {
  tags.push("desafio");
}
---
<div class="rounded-md overflow-hidden shadow-lg hover:scale-105 transition duration-500 bg-white py-2 px-4">
  <a href={`/exercises/problems/${nameDir}/`} class="no-underline cursor-pointer">
    <h2 class="mb-3 font-bold">#{`${id} - ${title}`}</h2>
  </a>
  <nav>
    {
      tags.map((tag) => (
        <a
          href={`/exercises/problems/${tag}/1`}
          class="no-underline cursor-pointer text-sm font-semibold text-gray-700 my-1 mr-1"
        >
          {tag}
        </a>
      ))
    }
  </nav>
</div>
